.block1 { 
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
h2{
    font-size: 50px;
    color: rgba(70,148,135,255);
    font-weight: bold;
    font-style: italic;
    font-family:"Bebas Neue", sans-serif;
    letter-spacing: 5px;
}
p{
    font-size: 20px;
    color: rgba(70,148,135,255);
    font-family:"Bebas Neue", sans-serif;
    line-height: 30px;
    letter-spacing: 5px;
}
h3{
    font-size: 50px;
    color: white;
    font-weight: bold;
    font-style: italic;
    font-family:"Bebas Neue", sans-serif;
    padding-left: 50px;
    padding-top: 50px;
    letter-spacing: 5px;
}
.block2{
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    background-color: rgba(70,148,135,255);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 300px;
}
#p2{
    font-size: 20px;
    color: white;
    font-family:"Bebas Neue", sans-serif;
    border-left-width: 100px;
    line-height: 30px;
    letter-spacing: 5px;
    padding-left: 50px;
}
.block-carousel {
    width: 100%;
    max-width: 500px; 
    max-height: 500px;
    margin: 0 auto;
}

.carousel-item img {
    width: 100%; 
    object-fit: cover; 
    margin: 0 auto;
}
