.block1 { 
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
}
h2{
    font-size: 50px;
    color: rgba(221,127,103,255);
    font-weight: bold;
    font-style: italic;
    font-family:"Bebas Neue", sans-serif;
    letter-spacing: 5px;
}
p{
    font-size: 20px;
    color: rgba(221,127,103,255);
    font-family:"Bebas Neue", sans-serif;
    line-height: 30px;
    letter-spacing: 5px;
}
h3{
    font-size: 50px;
    color: white;
    font-weight: bold;
    font-style: italic;
    font-family:"Bebas Neue", sans-serif;
    padding-left: 200px;
    padding-top: 70px;
    letter-spacing: 5px;
}
h4{
    font-size: 50px;
    color: white;
    font-weight: bold;
    font-style: italic;
    font-family:"Bebas Neue", sans-serif;
    padding-right: 200px;
    padding-top: 70px;
    letter-spacing: 5px;
}
.block2{
    padding: 20px;
    margin: 200px;
    margin-top: 50px;
    border-radius: 500px;
    background-color: rgba(70,148,135,255);
    height: 400px;
}
#p2{
    font-size: 15px;
    color: white;
    font-family:"Bebas Neue", sans-serif;
    border-left-width: 100px;
    line-height: 30px;
    letter-spacing: 5px;
    padding-left: 200px;
    padding-top: 25px;
}
#p3{
    font-size: 15px;
    color: white;
    font-family:"Bebas Neue", sans-serif;
    border-left-width: 150px;
    line-height: 30px;
    letter-spacing: 5px;
    padding-right: 200px;
    padding-top: 25px;
}
.block-carousel {
    width: 100%;
    max-width: 500px; 
    max-height: 500px;
    margin: 0 auto;
}

.carousel-item img {
    width: 100%; 
    object-fit: cover; 
    margin: 0 auto;
}
.block3{
    padding: 20px;
    margin: 20px;
    margin-bottom: 100px;
    border-radius: 500px;
    background-color:rgba(221,127,103,255);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 425px;
}
.Footer{
    padding: 0px;
    margin: 0px;
    background-color: rgba(70,148,135,255);
    height: 150px;
}
h5{
    font-size: 20px;
    color:white;
    font-family:"Bebas Neue", sans-serif;
    border-left-width: 100px;
    line-height: 30px;
    letter-spacing: 5px;
    padding-left: 50px;
    padding-top: 25px;
}
h6,h7{
    font-size: 15px;
    color:white;
    font-family:"Bebas Neue", sans-serif;
    letter-spacing: 5px;
}
